@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-modal-content {
  background-color: slategray !important;
}
.ant-modal-header {
  background-color: slategrey !important;
  margin-bottom: 32px !important;
}
.ant-modal-title {
  color: #ffffff !important;
  font-size: 18px !important;
}
.ant-form-item-label > label {
  color: #ffffff !important;
  font-size: 16px !important;
}
.content-area {
  height: calc(100vh - theme(padding.16)) !important;
  min-height: 600px !important;
}
.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.ant-spin-dot-item {
  background-color: #ffffff !important;
}
.all-data-loader .ant-spin-dot-item {
  background-color: #127fe6 !important;
}
.ant-message {
  position: absolute !important;
  width: fit-content !important;
  bottom: initial !important;
  top: 10px !important;
  right: 0px !important;
  left: initial !important;
}
.ant-select-disabled {
  background-color: #ffffff !important;
  border-radius: 6px !important;
}
.ant-select-disabled .ant-select-selection-item {
  color: #000 !important;
}
